# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS / Editor files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.idea/
.vscode/
*.swp
*~

# Oracle SQL Developer SQL history & local caches
.history/
*.log
